<section class="strip center case-study pale-blue-bg">
      <div class="text-center width-cap">
        <h6 class="subheader">CASE STUDY - THRAEDABLE</h6>
        <h1 class="teal">Turning stories into ethical clothes</h1>
        <div class="narrow">
          <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/TbqIjZs-Upk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="text-center">Environmentally friendly clothing inspired by people's stories through artistic expression. 50% of profits are shared with our partner NGOs.</p>
        </div>
        <div class="stats">
          <ul class="left-center">
            <li>
              <span class="figure">£11,740</span>
              <h6>RAISED</h6>
            </li>
            <li>
              <span class="figure">266</span>
              <h6>BACKERS</h6>
            </li>
            <li>
              <span class="figure">£10,000</span>
              <h6>GOAL</h6>
            </li>
          </ul>
        </div>
        <div class="bgtstimonials narrow">
          <img class="avatar" src="/assets/images/testimonials/aghiles.jpg"/>
          <p>“Using UpEffect for our crowdfunding launch was an important first step for our social enterprise. The UpEffect team gave us the structure and direction needed to successfully reach our fundraising goal of £10,000 - a target that we thought was beyond our reach. With genuine interest in our social objective and close help from their team, we wouldn't be where we are today without UpEffect.”</p>
          <span class="name">Aghiles Ourad</span>
          <p>
            <i>Founder of Thraedable <br>Raised <b>£11,740</b></i>
          </p>
        </div>
      </div>
    </section>
   