<footer class="green-texture-bg">
      <div class="subheader">
        <li class="logo"><a href="/"><img src="assets/images/logo_white.png" alt="White UpEffect Logo"></a></li>
      </div>
      <!-- REPLACE: HARD CODED LINKS WITH GENERATED LINKS?-->
      <div class="mast">
        <div>
          <ul>
            <li class="heading">About UpEffect</li>
            <li><a href="https://www.theupeffect.com/press">Press</a></li>
            <li><a href="mailto:hello@theupeffect.com">Contact</a></li>
            <li><a href="https://www.theupeffect.com/criteria">Criteria</a></li>
            <li><a href="https://www.theupeffect.com/work-with-us">Join Our Team</a></li>
            <li>
              <ul class="social">
                <li>
                  <a href="https://www.twitter.com/upeffect">
                    <img src="/assets/icons/logos/twitter.svg" alt="twitter link">
                  </a>
                </li> 
                <li>
                  <a href="https://www.instagram.com/upeffect/">
                    <img src="/assets/icons/logos/insta.svg" alt="instagram link">
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCKfZG_sCuWxIVpXntZksHzQ">
                    <img src="/assets/icons/logos/youtube.svg" alt="youtube link">
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="heading">Resources</li>
            <li><a href="https://www.theupeffect.com/blog">Blog</a></li>
            <li><a href="https://www.theupeffect.com/saathi">Saathi (New)</a></li>
            <li><a href="https://www.theupeffect.com/community">Community</a></li>
            <li><a href="https://www.theupeffect.com/upeffect-handbook">Creator’s Handbook</a></li>
            <li><a href="http://www.subscribepage.com/upeffect-crowdfunding-academy">Crowfunding Academy</a></li>
            <li></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="heading">Privacy</li>
            <li><a href="https://www.theupeffect.com/privacy-policy">Privacy Policy</a></li>
            <li><a href="https://www.theupeffect.com/terms-of-use">Terms Of Use</a></li>
            <li class="badges m-hide">
              <img src="/assets/icons/logos/zebra-coop-white.png">
              <img src="/assets/icons/logos/ecology-badge.svg">
            </li>
            <li></li>
          </ul>
        </div>
        <div>
          <ul class="newsletter">
            <li class="heading">Social Good Digest</li>
            <li>News, insights and solutions for a benevolent economy</li>
            <!-- REPLACE: LINK UP NEWLSETTER-->
              <li><input type="text" placeholder="Name"></li>
              <li><input type="text" placeholder="Email"></li>
              <li><a href="" class="pill-button text-center pink">Get the Digest</a></li>
            <!-- *-->
            <li class="badges m-only">
              <img src="/assets/icons/logos/zebra-coop-white.png">
              <img src="/assets/icons/logos/ecology-badge.svg">
            </li>
          </ul>
        </div>

      </div>
      <div>
        <p class="small">Copyright 2021, UpEffect. All rights reserved | Registered in England & Wales: 10189459 </p>
      </div>
    </footer>
    