<!-- REPLACE HEAD, NAV, MOBILE HEADER WITH TEMPLATE -->

  <head>
    <!-- THIS CAN BE DELETED/REPLACED BY CURRENT HEAD -->

    <meta charset="utf-8" />
    <meta name="description" content="UpEffect" />
    <meta name="keywords" content="Crowdfund Social-Enterprise" />
    <meta name="viewport" content="width=device-width">
    <title>Upeffect | Social Enterprise Crowdfunding </title>

    <!-- MAKE SURE TO ADD
    -------------------------
      NEW HARDS LINK TO 'assets/images/og-thumbnail.png'
      <meta property="og:image" content=""/> 
      <meta name="twitter:image" content=""> 
    -->

    <!-- NEW CSS / JS FILES -->

    <link href="styles/reset.css" rel="stylesheet">
    <link href="styles/typography.css" rel="stylesheet">
    <link href="styles/styles.css" rel="stylesheet">
    <link href="styles/mobile-styles.css" rel="stylesheet">
    <script  src="scripts/headroom.js"></script>

    <link rel="shortcut icon" type="image/png" href="/assets/icons/favicon.png"/>
  </head>
  
  <!-- THE OPENING BODY TAG NEEDS TO TAKE IN A CLASS THAT IS SPECIFIC TO EACH PAGE, EG. "ALLY", "CROWDFUND"-->
  <body class="home"> 
    <nav>    
      <ul class="headroom">
        <li class="logo m-hide"><a href="/">
          <img src="assets/images/logo_white.png" class="default" alt="White UpEffect Logo"></a>
          <img src="assets/icons/logos/upeffect-color.png" class="pinned" alt="Color UpEffect Logo"></a>
        </li>
        <li><a href="/crowdfund.html">Crowdfund</a></li>
        <li><a href="/campaigns.html">Campaigns</a></li>
        <li><a href="/ally.html">Ally</a></li>
        <li><a href="/podcast.html">Podcast</a></li>
        <li><a href="/about.html">About</a></li>
        <!-- REPLACE THIS WITH CURRENCY DROPDOWN and LOG IN-->
          <li class="currency"><a href="#"><img src="/assets/icons/cur/uk.png" class="flag"></a></li>
          <li> <a href="#TODO" class="pill-button teal">Log In</a></li>
        <!-- * -->
      </ul>
    </nav>

    <header class="mobile-nav headroom">
      <div class="logo"><a href="/"><img src="assets/icons/logos/upeffect.png" alt="White UpEffect Logo"></a></div>
      <div class="toggler"> 
        <img src="/assets/icons/toggle.svg" class="menu-icon show" alt="">
        <img src="/assets/icons/x.svg" class="x-icon" alt="">
      </div>
    </header>
    <!--  -->
