<section class="strip center testimonials text-center"> 
  <h2 class="teal">Don’t take our word for it...</h2>
  <div class="carousel">
    <div class="carousel-slide initial">
      <img src="/assets/images/testimonials/karishma.png" class="avatar" alt="Woman with black hair and a sidepart is smiling">
      <p>
        We were crowdfunding for the first time and UpEffect hugely supported us with personalised coaching and 
        effective tools. With their expert guidance at every step, our campaign was a 100% success! Their entire 
        coaching process was tailored to our needs and has empowered us to execute crowdfunding campaigns confidently.
      </p>
      <h6>Karishma, Intelehealth</h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/jeroenvo.jpg" class="avatar" alt="A white man and young girl hold up a water filter">
      <p>
        I loved the professionalism of UpEffect's team, the great pieces of advice on the marketing strategy for the 
        campaign, the way to approach the press and influencers, the feedback on content and visuals. In a nutshell, 
        the permanent strive for making us ready for the launch, maximizing our chances of success.
      </p>
      <h6>Jeroen, Social ImpaKt</h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/little_difference.jpg" class="avatar" alt="A white woman with a hat on backwards and a white man with a beanie and a smirk">
      <p>
        UpEffect are doing an incredible job for social entrepreneurs, they are a very dedicated, hardworking and supportive team who guided us every step of the way and really cared about our mission. Thank you UpEffect!
      </p>
      <h6>Pete and Soph, Little Difference </h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/brooke.png" class="avatar" alt="Woman with black hair and a sidepart is smiling">
      <p>
        UpEffect had amazing one on one support in the lead up and throughout the campaign! Sheeza provided knowledgeable and actionable advice which was very helpful in creating a successful campaign!
      </p>
      <h6>Brooke, Brooke Da Cruz</h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/bonnie.jpeg" class="avatar" alt="Close up of woman with black hair tied back and speaking into a microphone">
      <p>
        UpEffect is very important and is pioneering in creating social change. The platform is great! The team is always available! The UpEffect team has been incredible in answering our troubleshooting questions in split-seconds!
      </p>
      <h6>Bonnie, Lensational</h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/rohit.png" class="avatar" alt="Man with dark hair smiling">
      <p>
        UpEffect has certainly surpassed my expectation for a crowdfunding platform. The team is very supportive and available 24x7, always on their toes, solving issues faster than you can raise them. There are so many social problems in the world, many problem solvers and so many people who are willing to support. Something like UpEffect is so much needed. Many more crowdfunding campaigns to come from me.
      </p>
      <h6>Rohit Nayak, EcoAd</h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/sil.png" class="avatar" alt="Portrait of woman with neck scarf">
      <p>
        My experience with UpEffect was wonderful. From regular Skype sessions, to make sure we were on track, to valuable guidance on marketing and filmmaking, I had a thorough learning experience interacting with you. Once again, I cannot thank you enough for your support. Moreover, your flexibility in times of unexpected issues was extremely helpful and I appreciate you for it.
      </p>
      <h6>Fareeha Ali, SIL</h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/aghiles.jpg" class="avatar" alt="Man and woman with white t-shirts against a colorful wall">
      <p>
        Using UpEffect for our crowdfunding launch was an important first step for our social enterprise. The UpEffect team gave us the structure and direction needed to successfully reach our fundraising goal of £10,000 - a target that we thought was beyond our reach. With genuine interest in our social objective and close help from their team, we wouldn't be where we are today without UpEffect.
      </p>
      <h6> Aghi and Cristina, Thraedable</h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/khizrimran.png" class="avatar" alt="Logo of a colorful plug">
      <p>
        UpEffect opened the doors to our personal and professional networks - avenues all capital hungry social startups must look into
      </p>
      <h6>Khizr, Jaan Pakistan</h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/alan.png" class="avatar" alt="Portrait of older man with white hair">
      <p>
        I travel the world and wherever I go, I tell people about UpEffect. The work of UpEffect is very important in helping more people start successful social businesses
      </p>
      <h6>Professor Alan Barrell, University of Cambridge</h6>
    </div>
    <div class="carousel-slide">
      <img src="/assets/images/testimonials/akhuwat.jpg" class="avatar" alt="Black and white photo of woman with dark hair smiling wide">
      <p>
        My utmost gratitude goes to team UpEffect for being there day and night for the past 4 months of our pre-launch preps. Knowing the fact they only support campaigns offering ethical products that are good for people and the planet. Very friendly and approachable team. Their want to succeed was almost infective as it catches up with you and you won't settle for less after that! It was fun and exciting working with your team. 
      </p>
      <h6>Aneeqa, Akhuwat</h6>
    </div>

    <div class="carousel-button previous"></div>
    <div class="carousel-button next"></div>
    <div class="carousel-dots"></div>
    <div>
      <img src="/assets/images/pink-brush.png" alt="" class="brushstroke">
    </div>
  </div>
</section> 