@media screen and (max-width: 500px) {
  body {
    --content-width: 100%;
    --narrow-width: 100%;
    --min-height: 80vh;
    --padding-02: 2.25rem;
    --padding-04: 5.5rem;
    --mobile-padding: 1.25rem;
    position: relative;
  }

  h1 {
    font-size: 2.2rem;
  }

  .m-hide {
    display: none !important;
  }

  .m-only {
    display: block;
  }

  .m-text-left {
    text-align: left;
  }

  .mobile-nav {
    display: block;
    padding: 0.5rem;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
  }

  .mobile-nav .logo {
    padding-right: 0.25rem;
  }
  .mobile-nav .logo img {
    width: 120px;
  }

  .flex {
    flex-flow: column
  }

  .toggler {
    display: block;
    height: 25px;
    position: relative;
  }

  .toggler img {
    opacity: 0;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0; 
  }

  .toggler img.menu-icon, .toggler.open img.x-icon {
    opacity: 1;
  }

  .toggler.open img.menu-icon {
    opacity: 0;
  }

  .headroom {
    position: absolute;
    top: 0;
  }

  .headroom.headroom--unpinned {
    position: fixed;
    background: var(--teal);
    transition: all 0.3s ease;
    top: 0;
  }

  nav {
    padding: 1rem;
    background: var(--teal);
    transform: translateX(110vw);
    transition: transform 0.8s ease;
    position: fixed;
    width: 100vw;
    height: 100%;
  }
  nav ul {
    flex-flow: column;
    align-items: flex-start;
    padding-top: 3rem;
  }

  nav ul li:not(:first-of-type) {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    padding-left: 1rem;
  }

  nav.open {
    transform: translateX(40vw);
    transition: transform 0.8s ease-out;
  }

  nav .pill-button.teal {
    --color: white;
    color: var(--black);
    margin-left: 0;
    font-size: 0.9rem;
  }

  nav a {
    padding-bottom: 0.2rem;
  }

  footer {
    padding: 1rem;
    position: relative;
  }

  footer .logo img {
    width: 8rem;
  }

  footer .subheader {
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
  }

  footer .mast {
    flex-flow: column wrap;
    padding-bottom: 0;
  }

  footer .mast > div > ul {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
  }

  footer .mast .heading {
    font-size: 1.1rem;
    margin: 0;
  }

  footer .badges {
    max-height: 70px;
    width: 160px;
  }

  footer .social {
    position: absolute; 
    top: 0;
    right: 20px;

  }

  footer .newsletter {
    --li-width: 100%;
    border: none !important;
  }

  
  
  /* LAYOUT */
  
  .home section .content {
    padding: var(--mobile-padding);
    max-width: 100%;
  }
  
  .half-columns {
    flex-flow: column;
  }
  
  .half-columns.m-reverse {
    flex-flow: column-reverse;
  }
  
  .half-columns > div {
    width: 100%;
    padding: 2rem var(--mobile-padding);
  }
  
  .block .half-columns {
    padding-top: 1rem;
  }

  .block .half-columns > .image {
    padding-bottom: 0.5rem;
  }

  .strip {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }

  .strip li {
    width: unset;
  }

  .figure {
    font-size: 4rem;
  }
  
  .case-study .stats {
    padding: 0 1rem;
  } 

  .case-study .figure {
    font-size: 1.5rem;
  }

  .block-grid {
    width: 100%;
    flex-wrap: wrap;
    max-width: 100%;
  }

  /* CAROUSEL */
  .carousel-slide {
    padding: 0;
  }

  .carousel-slide > * {
    max-width: 100%;
  }

  .carousel-button {
    top: 20%;
  }

  .carousel-button.previous { left: 10px;}
  .carousel-button.next { right: 10px;}
  
  /* HOME */
  .home section.banner video {
    height: 100%;
    width: auto;
  }
  .home .success {
    margin: 1rem 0;
    background-size: 300%;
    padding: 5rem 0;
  }

  .home .case-study .stats .left-center{
    flex-flow: row;
  }

  .home .stats .left-center {
    flex-flow: column;
  }
  
  .home .stats.infograph {
    padding: var(--padding-02) 0;
  }

  .home .stats.infograph li {
    padding: 0 0.75rem 0.75rem;
  }

  .home .stats.infograph li:last-of-type {
    padding-bottom: 0;
  }
  
  .home .stats.infograph .figure {
    width: 40%;
    margin-bottom: 0;
  }
  .home .stats.infograph p, .home .stats.infograph span {
    text-align: left;
  }

  .home .how-it-works h3 {
    padding-top: 1rem;
  }

  .home .how-it-works .boxes {
    padding: 0;
    flex-flow: column;
    margin-bottom: 3rem;
  }

  .home .boxes li {
    margin: 0.5rem;
  }

  .home .how-it-works .block-grid li {
    width: 50%;
  }

  .home img.icon {
    padding: 0;
  }

  .home .how-it-works.green-texture-bg {
    padding-bottom: var(--padding-04);
  }

  .home .strip.stats.infograph {
    background-position: 20%;
  }

  .home .navigate img {
    width: 100%;
    transform: unset;
  }

  .home .solution {
    padding: var(--padding-04) var(--mobile-padding);
  }

  .home .testimonials {
    padding: var(--padding-04) 0.5rem;
  }

  .home ul.resources li {
    width: 50%;
    padding: 0.25rem;
  }

  .home ul.resources .content {
    padding: 0 var(--mobile-padding);
    height: calc(0.4 * 100vw);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home .extra-bottom h2 {
    text-align: center;
  }
  .home .logos {
    flex-wrap: wrap;
    padding-top: 1rem;
  }

  .logos img {
    max-height: 90px;
    width: auto;
    padding: 0.75rem;
    max-width: 40%;
  }

  /* ALLY */
  .ally section.banner h1 {
    width: 100%;
  }

  .ally section.banner .content{ 
    padding-bottom: 9rem;
  }

  .ally section.banner {
    background: no-repeat 80%/ cover url(/assets/images/ally-banner-mobile.png);
  }

  .ally .success {
    background-size: 400%;
    background-position-y: 0;
  }

  .ally .statement {
    margin: 0;
    padding: 0 var(--mobile-padding);
  }

  .ally .block {
    padding: var(--padding-02) 0;
  }

  .ally .block.pricing {
    padding: var(--padding-04) var(--mobile-padding);
  }

  .ally .pricing h1 {
    width: 80%;
    margin: 0 auto 2rem;
    line-height: 1.2;
  }

  .ally .tier-blocks li {
    width: 100%;
  }

  .ally .strip h1 {
    text-align: center;
  }

  /* PODCAST */
  .podcast .podcast-artwork {
    width: 100%;
  }

  .podcast .testimonials .carousel {
    --min-height: 95vh;
  }

  .podcast .testimonials h2 {
    text-align: center;
  }

  .podcast .embed {
    width: 100%;
  }

  /* ABOUT */ 
  .about .team {
    flex-flow: column;
  }

  .about .team li {
    padding: 0 0 4rem;
  }

  .timeline .graphic::before, .timeline .graphic::after {
    width: 5px;
    height: 5px;
    background-color: lightgray;
  }

  .timeline .graphic {
    padding: var(--padding-04) 0;
  }

  .timeline .line {
    width: 35px;
  }

  .about img.sculpture {
    width: 160px;
  }

  /* CROWDFUND */
  .crowdfund section.banner .left-center {
    width: 88%;
  }

  .crowdfund .half-columns .image {
    padding: var(--padding-02);
  }

  .crowdfund .success {
    padding: 6rem 0;
  }

  .crowdfund .toolkit ul {
    padding-top: 1rem;
  }
  .crowdfund .toolkit li {
    width: 100%;
    padding: 0 var(--mobile-padding);
  }

  .crowdfund .hot-air-balloons {
    margin-bottom: -2.6rem;
    padding-bottom: 8rem;
    background-position: 6%;
  }

  .crowdfund .hot-air-balloons .half-columns > div {
    padding: 1rem;
  }

  .crowdfund .resources li {
    width: 45%;
    padding: 1.5rem 1rem;
  }

  .crowdfund .resources img {
    width: 80px;
    height: auto;
  }

  .crowdfund .faq {
    flex-flow: wrap;
  }

  .crowdfund .faq .col-2 {
    width: 100%;
    margin: 0;
  }

  /* CAMPAIGN */
  .campaigns section.banner {
    background-size: cover;
  }

  .campaigns .mobile-no-padding {
    padding: var(--padding-04) 0;
  }
  .campaigns .card-cases-wrapper {
    width: 92vw;
    margin: 0 auto 3rem;
  }

  .campaigns .card-cases-wrapper h2 {
    padding-bottom: 1.2rem;
  }

  .campaigns .card-cases {
    padding: 0;
    scroll-snap-type: x mandatory;
  }

  .campaigns .card {
    width: 100%;
    flex-shrink: 0;
    margin: 0 2rem 0 0;
    scroll-snap-align: start;
  }

  .campaigns .carousel-button {
    bottom: -100px;
    top: unset;
  }

  .campaigns .carousel-button.previous { left: 10px;}
  .campaigns .carousel-button.next { right: 10px;}

  .progress-data .flex {
    flex-flow: row;
  }

  .campaigns .subscribe h1 {
    text-align: center;
  }
  .campaigns .subscribe .half-columns > div {
    width: 100% !important;
  }

  .campaigns .subscribe .half-columns > div:first-of-type {
    padding-bottom: 1rem;
  }
  .campaigns .subscribe .half-columns > div:last-of-type {
    padding-top: 0;
  }

  .campaigns .subscribe .form .pill-button {
    width: 100%;
  }

  /* PODCAST */

  .podcast .testimonials {
    max-height: max-content;
  }

  .podcast-wrapper {
    --spacing: 0.5rem;
  }

  .podcast .embed {
    --spacing: 1rem;
  }

  .podcast .hosted {
    padding: 1rem 0;
  }

}
